<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Controller.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ManageGroupController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProfileController</servlet-name>
        <servlet-class>Controller.GetProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeBioController</servlet-name>
        <servlet-class>Controller.ChangeBioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProfileImageController</servlet-name>
        <servlet-class>Controller.UploadProfileImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCoverImageController</servlet-name>
        <servlet-class>Controller.UploadCoverImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendHomeController</servlet-name>
        <servlet-class>Controller.SendHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePostController</servlet-name>
        <servlet-class>Controller.CreatePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyGroupsController</servlet-name>
        <servlet-class>Controller.ViewMyGroupsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupController</servlet-name>
        <servlet-class>Controller.CreateGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSingleGroupController</servlet-name>
        <servlet-class>Controller.ViewSingleGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeGroupDescriptionController</servlet-name>
        <servlet-class>Controller.ChangeGroupDescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadGroupImageController</servlet-name>
        <servlet-class>Controller.UploadGroupImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostController</servlet-name>
        <servlet-class>Controller.DeletePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSinglePostController</servlet-name>
        <servlet-class>Controller.ViewSinglePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikePostController</servlet-name>
        <servlet-class>Controller.LikePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCommentController</servlet-name>
        <servlet-class>Controller.CreateCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentController</servlet-name>
        <servlet-class>Controller.DeleteCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUsersController</servlet-name>
        <servlet-class>Controller.SearchUsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllGroupsController</servlet-name>
        <servlet-class>Controller.ViewAllGroupsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewManagedGroupsController</servlet-name>
        <servlet-class>Controller.ViewManagedGroupsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageGroupController</servlet-name>
        <servlet-class>Controller.ManageGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostController</servlet-name>
        <servlet-class>Controller.EditPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFriendRequestController</servlet-name>
        <servlet-class>Controller.SendFriendRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptFriendRequestController</servlet-name>
        <servlet-class>Controller.AcceptFriendRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFriendsController</servlet-name>
        <servlet-class>Controller.ViewFriendsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectFriendRequestController</servlet-name>
        <servlet-class>Controller.RejectFriendRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupPostController</servlet-name>
        <servlet-class>Controller.CreateGroupPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptGroupPostController</servlet-name>
        <servlet-class>Controller.AcceptGroupPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectGroupPostController</servlet-name>
        <servlet-class>Controller.RejectGroupPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFriendController</servlet-name>
        <servlet-class>Controller.RemoveFriendController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProfileController</servlet-name>
        <url-pattern>/GetProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeBioController</servlet-name>
        <url-pattern>/ChangeBioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProfileImageController</servlet-name>
        <url-pattern>/UploadProfileImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCoverImageController</servlet-name>
        <url-pattern>/UploadCoverImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendHomeController</servlet-name>
        <url-pattern>/SendHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePostController</servlet-name>
        <url-pattern>/CreatePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyGroupsController</servlet-name>
        <url-pattern>/ViewMyGroupsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroupController</servlet-name>
        <url-pattern>/CreateGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSingleGroupController</servlet-name>
        <url-pattern>/ViewSingleGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeGroupDescriptionController</servlet-name>
        <url-pattern>/ChangeGroupDescriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadGroupImageController</servlet-name>
        <url-pattern>/UploadGroupImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostController</servlet-name>
        <url-pattern>/DeletePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSinglePostController</servlet-name>
        <url-pattern>/ViewSinglePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikePostController</servlet-name>
        <url-pattern>/LikePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCommentController</servlet-name>
        <url-pattern>/CreateCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentController</servlet-name>
        <url-pattern>/DeleteCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUsersController</servlet-name>
        <url-pattern>/SearchUsersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllGroupsController</servlet-name>
        <url-pattern>/ViewAllGroupsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewManagedGroupsController</servlet-name>
        <url-pattern>/ViewManagedGroupsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageGroupController</servlet-name>
        <url-pattern>/ManageGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostController</servlet-name>
        <url-pattern>/EditPostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFriendRequestController</servlet-name>
        <url-pattern>/SendFriendRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptFriendRequestController</servlet-name>
        <url-pattern>/AcceptFriendRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFriendsController</servlet-name>
        <url-pattern>/ViewFriendsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectFriendRequestController</servlet-name>
        <url-pattern>/RejectFriendRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroupPostController</servlet-name>
        <url-pattern>/CreateGroupPostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptGroupPostController</servlet-name>
        <url-pattern>/AcceptGroupPostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectGroupPostController</servlet-name>
        <url-pattern>/RejectGroupPostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFriendController</servlet-name>
        <url-pattern>/RemoveFriendController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <description>Location to store uploaded profile images</description>
        <param-name>file-upload-profile-image</param-name>
        <param-value>
         D:\practiceCode\Tomcat Server\webapps\data\profileImages\
      </param-value>
    </context-param>
    <context-param>
        <description>Location to store uploaded cover images</description>
        <param-name>file-upload-cover-image</param-name>
        <param-value>
         D:\practiceCode\Tomcat Server\webapps\data\coverImages\
      </param-value>
    </context-param>
    <context-param>
        <description>Location to store uploaded post images</description>
        <param-name>file-upload-post-image</param-name>
        <param-value>
         D:\practiceCode\Tomcat Server\webapps\data\postImages\
      </param-value>
    </context-param>
    <context-param>
        <description>Location to store uploaded group images</description>
        <param-name>file-upload-group-image</param-name>
        <param-value>
         D:\practiceCode\Tomcat Server\webapps\data\groupImages\
      </param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/util/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/util/500.html</location>
    </error-page>
</web-app>
